/* =============================splash page========================= */ 

h1{
color: blue;
font-size: 65px;
font-family: 'Acme', sans-serif;
text-align: center;
animation-name: move;
animation-duration: 2s;
transition: all 2s ease;
margin-left: 525px;
}

@keyframes move{
0%{
margin-left:-1000px;
}
100% {
margin-left: 530px;
}
}
/* background image- source: https://www.ebay.com/itm/Hasbro-Connect-4-Game/352531569730?_trkparms=aid%3D222007%26algo%3DSIM.MBE%26ao%3D2%26asc%3D20160323102634%26meid%3D6afb38c8839f4f878ce99aec3d34e685%26pid%3D100623%26rk%3D4%26rkt%3D6%26sd%3D323034430832%26itm%3D352531569730&_trksid=p2047675.c100623.m-1 */
body {
background: url(/images/split.png);
background-size: 100% 100%;
}

.container {
display: flex;
flex-wrap: wrap;
}

button {
margin-top: 450px;
margin-left: 600px;
font-size: 24px;
height: 60px;
border-radius: 60px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
}

button:hover {
background-color: red; 
color: white;
}

.ball {
margin-left: 30px;
width: 100px;
height: 67px;
border-radius: 50%;
background-color: #FF5722;
animation: bounce 0.5s;
animation-direction: alternate;
animation-timing-function: cubic-bezier(.5,0.05,1,.5);
animation-iteration-count: infinite;
}

@keyframes bounce {
from { transform: translate3d(0, 0, 0); }
to { transform: translate3d(0, 180px, 0); }
}

/* === */
ball {
-webkit-animation-name: bounce;
-webkit-animation-duration: 0.5s;
-webkit-animation-direction: alternate;
-webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
to { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}

/*============================game page================================ */
.row, .column {
  display: flex;
}

.center {
  justify-content: center;
}

.col-1 {
  width: 10px;
}
.col-2 {
  width: 16.6666666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.3333333333%;
}
.col-5{
	width: 41.6666666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.3333333333%;
}
.col-8{
	width: 66.6666666667;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.3333333333%;
}
.col-11{
	width: 40px;
}
.col-12{
	width: 100%;
}

/* $board-size: 500px;
$place-size: 32px;
$bg: #82D0F4;
$board-bg: #0667B4;
$border: #1D2A5E;
$player-one: #DD2328;
$player-two: #EED242;
$ff: "Trebuchet MS", Helvetica, sans-serif; */

body{
    background: url(/images/shapes.jpeg);
    background-size: cover;
    font-family:Trebuchet MS", Helvetica, sans-serif ;
}

#board{
    margin: auto;
    margin-top: 50px;
    width: 700px;
    height:500px;
    padding: 10px;
    background: lightblue;

    border: 3px solid #1D2A5E;;
}
#board .column{
    margin: auto;
    width: 2090px;
}

.place{
    width: 32px;
    height:32px;
    margin: 10px;
    background: #82D0F4;
    border-radius: 100%;
    border: 2px solid #1D2A5E;
}

.place:hover{
    cursor: pointer;
}

.red{
    background:#DD2328 ;
    color: #EED242;
    font-weight: bold;
}

.black{
    background: #EED242;
    color: #DD2328;
    font-weight: bold;
}

#restart{
    margin-top: 5px;
    width: 100px;
    border: 2px solid #1D2A5E;
    border-radius: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#restart:hover{
    cursor: pointer;
}

#restart:focus{
    outline: none;
}

.red:hover{
    background: darken(#DD2328, 5%);
}
.red:active{
    background: darken(#DD2328, 8%);
}

.black:hover{
    background: darken(#EED242, 5%);
}

.black:active{
    background: darken(#EED242, 8%);
}